<nav class="navbar navbar-expand-lg bg-white"
     th:fragment="navbarUser" xmlns:sec="http://www.w3.org/1999/xhtml">

    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand fw-bold text-primary" href="/">
            Quiz App
        </a>

        <!-- Menu -->
        <div class="navbar-nav flex-row gap-3">

            <a class="nav-link fw-bold text-primary" href="/user/history">
                Lịch sử làm bài
            </a>

            <a class="nav-link fw-bold text-primary" href="/user/profile">
                Tài khoản
            </a>

        </div>

        <!-- User info -->
        <div class="d-flex align-items-center gap-3 ms-auto">

            <span>
                <b id="navbarUserFullName" sec:authentication="principal.fullName"></b>
            </span>

            <form th:action="@{/logout}" method="post">
                <button class="btn btn-danger">Đăng xuất</button>
            </form>

        </div>

    </div>
</nav>