.dashboard-content {
    padding: 30px;
}

/* Statistic Card */

.dashboard-card {
    border: none;
    border-radius: 16px;
    transition: 0.3s;
}

.dashboard-card:hover {
    transform: translateY(-5px);
}

/* Icon */

.icon-box {
    width: 60px;
    height: 60px;

    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 28px;
    color: white;
}